/******************
* Global settings  *
*******************/
@font-face {
	font-family: SuezOne-Regular;  
	src: url(../fonts/Suez_One/SuezOne-Regular.ttf);  
	font-weight: normal;  
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background:lightgray;
}

section {
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: SuezOne-Regular, sans-serif;
}


h1 {
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 0px 5px 0px #000;
}

h2 {
    color: black;
}


h3 {
    color: #000;
    font-size: 1.6em;
}

#first,
#second {
    margin: 120px auto;
}

/******************
* Header section  *
*******************/

.header {
    color: white;
    text-align: center;
    padding: 80px 0px;
    background: linear-gradient( 358.3deg,  rgba(255,82,168,0.8) 12.9%, rgba(177,118,240,1) 134.3% ),
                url('https://placeimg.com/1000/600/nature/grayscale') round;
    border-bottom: 8px solid #100e17;
    height: 90vh;
    position: relative;
}

.header h2 {

}

.header .fa {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 60px;
    text-shadow: 0px 5px 0px #000;
    margin-left: -30px;
}

.nav {
    position: sticky; top: 0px;
    background-color: #100e17;
    z-index: 1000;
    padding: 20px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}

.login {
    display: flex;
    align-items: center;
}

.login a {
    margin-right: 15px;
}

.nav a {
    font-family: SuezOne-Regular, sans-serif;
    font-size: 1.6em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(255,82,168);
    border-bottom: 3px solid rgb(255,82,168);
}

.nav ul {
    padding: 10px;
}

.nav ul li{
    display: inline-block;
    margin-right: 15px;
}

.nav p {
    color: white;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    border: 2px dashed white;
}

.header_img {
    border-radius: 50%;
    border: 6px solid black;
    width: 200px;
}


/******************
* Articles section  *
*******************/

.content_item {
    background: #fff;
    box-shadow: 10px 10px 0px grey;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 10px;
}

.content_item h3 {
    border-bottom: 6px solid rgb(255,82,168);
    display: inline;
}

.content_item p {
    font-size: 1.5rem;
    line-height: 1.5;
    color:#100e17;
    margin-top: 20px;
}

.content_item img {
    width: 300px;
    margin-right: 20px;
}


/******************
* Skills section  *
*******************/

.skills {
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills_item {
    padding: 20px 20px 40px 20px; 
    text-align: center;
    box-shadow: 10px 10px 0px grey;
    background: #fff;
    border-radius: 5px;
    max-width: 330px;
    margin-top: 45px;
}

.skills_header {
   border-bottom: 6px solid rgb(255,82,168);
}


.skills_item p {
    font-size: 1.3em;
    margin-bottom: 30px;
    line-height: 1.6;
}

.skills_item img {
    margin: 30px 0;
}

.skills_item button {
    font-size: 1.5em;
    font-weight: 600;
    color: #100e17;
    background: linear-gradient( 358.3deg,  rgba(255,82,168,1) 12.9%, rgba(177,118,240,1) 134.3% );
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #100e17;
}

.skills_item button:hover {
    color: white;
}

/******************
* Footer section  *
*******************/

footer {
    text-align: center;
    color: white;
    background: #100e17;
    padding: 40px;
    font-size: 1.6em;
    font-family: SuezOne-Regular, sans-serif;
}

footer ul {
    margin-top: 15px;
}

footer .fa {
    color: rgb(255,82,168);
    font-size: 35px;
}

footer span {
    font-size: 45px;
    color: rgb(255,82,168);
}

footer .container
 {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-wrap: wrap;
}
.social li {
   list-style: none;
   margin-right: 25px;
}

.social li a {
    color: white;
    text-decoration: none;
}

.social li:hover {
    border-bottom: 3px solid rgb(255,82,168);
}


.social i {
    margin-right: 5px;
}
